// Главный файл, где пишутся и куда подключаются все стили проекта

// Адаптивное свойство - используется, если дизайнером предоставлен неполный макет,
// чтобы при уменьшении или увеличении экрана паддинги, размеры шрифта автоматически
// увеличивались / уменьшались в границах от десктопного значения до телефонного
// Подробнее: https://www.youtube.com/watch?v=eaOAY0vIB4U
$maxWidth: 1920; // Для масштабирования, например, текста, если экран будет увеличиваться и станет больше контейнера
$maxWidthContainer: 1200; // Для масштабирования, например, текста, если экран будет уменьшаться и станет меньше контейнера

// Импорт дополнительных файлов стилей и настроек
@import "variables";
@import "../../node_modules/normalize.css/normalize";
@import "start";
@import "mixins/font-face";
@import "mixins/adaptive-value";
@import "fonts";
@import "global";

// Основная часть

body {
  font-family: "Inter", sans-serif;
  color: $black;
  font-weight: 400;
  font-size: calc(14 / 16) + rem;
  line-height: 1.3;
}

.container {
  max-width: calc(1230 / 16) + rem;
  padding: 0 calc(15 / 16) + rem;
  margin: 0 auto;
}

.loader {
  background-color: #fff;
  position: fixed;
  inset: 0;
  z-index: 300;
  &__circle-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__circle {
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// ----- PAGE -----
footer {
  background: #000;
  position: relative;
  z-index: 400;
}
section {
  transition: transform 0.4s;
  background-color: #fff;
}
.page {
  @include adaptive-value("padding-top", 90, 78, 1);
  &._locked {
    overflow: hidden;
  }
  &._fixed {
    overflow: hidden;
    section {
      transform: translateX(-80%);
    }
  }
  &__header {
  }
}
// ----- PAGE -----
// ----- HEADER -----
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
// ----- HEADER -----
// ----- HEADER, FOOTER -----
.header,
.footer {
  @include adaptive-value("padding-top", 33, 15, 1);
  @include adaptive-value("padding-bottom", 33, 15, 1);
  background-color: rgba($black, 0.9);
  // backdrop-filter: blur(10px);
  color: $gray;
  @include adaptive-value("font-size", 24, 16, 1);
  line-height: calc(29 / 24);
  &__inner {
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: calc(70 / 16) + rem;
  }
  &__menu {
    display: flex;
    gap: calc(30 / 16) + rem;
    flex: 1 0 0;
  }
  &__item {
    transition: color 0.8s;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      left: 50%;
      bottom: -3px;
      transform: translateX(-50%);
      background-color: $gray;
      transition: width 0.8s, color 0.8s;
    }
  }
  &__logo {
    width: calc(40 / 16) + rem;
    height: calc(48 / 16) + rem;
    position: relative;
    z-index: 101;
  }
  &__logo-img {
    width: calc(40 / 16) + rem;
    height: calc(48 / 16) + rem;
    path {
      transition: fill 0.8s;
    }
  }
  &__phone {
    flex: 1 0 0;
    text-align: right;
    position: relative;
    z-index: 101;
  }
  &__phone-link {
    transition: color 0.8s;
    position: relative;
    @include adaptive-value("font-size", 24, 16, 1);
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      left: 50%;
      bottom: -3px;
      transform: translateX(-50%);
      background-color: $gray;
      transition: width 0.8s, color 0.8s;
    }
  }
}
// ----- HEADER, FOOTER -----
// ----- MAIN -----
.main {
  &__cover {
    @include adaptive-value("padding-top", 70, 30, 1);
    @include adaptive-value("padding-bottom", 40, 20, 1);
  }
  &__new {
    @include adaptive-value("padding-top", 87, 40, 1);
    @include adaptive-value("padding-bottom", 75, 25, 1);
  }
  &__color {
    @include adaptive-value("padding-top", 75, 25, 1);
    @include adaptive-value("padding-bottom", 150, 50, 1);
  }
}

// ----- MAIN -----
// ----- COVER -----
.cover {
  background-color: #f5f5f7;
  &__title-wrapper {
    text-align: center;
    @include adaptive-value("margin-bottom", 40, 20, 1);
  }
  &__title {
    font-weight: 700;
    @include adaptive-value("font-size", 64, 37, 1);
    line-height: calc(77 / 64);
    color: $purple;
    text-transform: uppercase;
    transition: color 1.8s;
  }
  &__img-wrapper {
    text-align: center;
    @include adaptive-value("margin-bottom", 25, 18, 1);
  }
  &__img {
    transition: transform 0.4s;
  }
  &__btn-wrapper {
    text-align: center;
  }
  &__btn {
    font-weight: 700;
    @include adaptive-value("font-size", 24, 16, 1);
    line-height: calc(29 / 24);
    color: #fff;
    @include adaptive-value("padding-top", 22, 15, 1);
    @include adaptive-value("padding-bottom", 22, 15, 1);
    @include adaptive-value("padding-left", 117, 60, 1);
    @include adaptive-value("padding-right", 117, 60, 1);
    background-color: $purple;
    border-radius: calc(30 / 24) + em;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
    text-transform: uppercase;
  }
}
// ----- COVER -----
// ----- NEW -----
.new {
  &__title-wrapper {
  }
  &__title {
    color: transparent;
    &::after {
      content: "Что нового";
      text-transform: uppercase;
      position: absolute;
      color: $gray;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(30 / 16) + rem;
    flex-wrap: wrap;
  }
  &__col {
  }
  &__info {
    flex: 0 0 calc(50% - 40px);
  }
  &__par {
    @include adaptive-value("font-size", 14, 11, 1);
    line-height: 1.3;
    color: $black;
    transition: background-color 0.6s;
  }
  &__par + &__par {
    @include adaptive-value("margin-top", 30, 15, 1);
  }
  &__par-bold {
    font-weight: 700;
    @include adaptive-value("font-size", 20, 13, 1);
  }
  &__phone {
    flex: 0 1 40%;
    @include adaptive-value("padding-right", 100, -700, 1);
  }
  &__img-wrapper {
    display: flex;
    justify-content: end;
  }
  &__img {
    transition: transform 0.6s;
  }
}
// ----- NEW -----
// ----- COLOR -----
.color {
  &__title-wrapper {
  }
  &__title {
  }
  &__phones-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(50 / 16) + rem;
  }
  &__phone {
    flex: 0 0 calc(240 / 16) + rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__figcaption {
    transition: background-color 0.6s;
  }
  &__img {
    @include adaptive-value("margin-bottom", 20, 10, 1);
    transition: transform 0.6s;
  }
  &__descr-li {
    margin: 0;
  }
  &__phone-title {
    @include adaptive-value("margin-bottom", 10, 5, 1);
    font-weight: 700;
    @include adaptive-value("font-size", 20, 18, 1);
    line-height: 1.3;
    color: $black;
    transition: letter-spacing 0.6s;
  }
  &__phone-color {
    margin: 0;
    @include adaptive-value("font-size", 14, 13, 1);
    line-height: 1.3;
    color: $black;
  }
}
// ----- COLOR -----
// ----- WANT -----
.want {
  &__inner {
    display: flex;
  }
  &__col {
    flex: 0 0 50%;
  }
  &__form-wrapper {
    background-color: $deep-purple;
    height: 100%;
    @include adaptive-value("padding-top", 137, 50, 1);
    @include adaptive-value("padding-bottom", 40, 30, 1);
    @include adaptive-value("padding-left", 93, 15, 1);
    @include adaptive-value("padding-right", 93, 15, 1);
  }
  &__form {
    max-width: calc(600 / 16) + rem;
    margin: 0 auto;
  }
  &__title {
    font-weight: 700;
    line-height: calc(39 / 32);
    color: #fff;
    &::before {
      background-color: #fff;
    }
    @include adaptive-value("margin-bottom", 72, 30, 1);
  }
  &__label {
    @include adaptive-value("margin-bottom", 30, 15, 1);
    display: inline-block;
    position: relative;
    width: 100%;
  }
  &__label-span {
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 1.3;
    color: #fff;
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    transform-origin: top left;
    transition: opacity 0.2s, transform 0.1s;
  }
  &__input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    color: #fff;
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 1.3;
    width: 100%;
    height: calc(28 / 16) + rem;
    &:focus,
    &:not(:placeholder-shown) {
      & + .want__label-span {
        transform: translateY(-90%) scale(0.8);
      }
    }
  }
  &__text {
    text-align: center;
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 1.3;
    color: rgba(#fff, 0.5);
    @include adaptive-value("margin-bottom", 30, 15, 1);
    transition: text-shadow 0.4s;
  }
  &__btn-wrapper {
    display: block;
    text-align: center;
  }
  &__btn {
    font-weight: 700;
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 1.3;
    color: $purple;
    @include adaptive-value("padding-top", 16, 10, 1);
    @include adaptive-value("padding-bottom", 16, 10, 1);
    @include adaptive-value("padding-left", 81, 50, 1);
    @include adaptive-value("padding-right", 81, 50, 1);
    background: #fff;
    border-radius: calc(30 / 14) + em;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
  }
  &__img-wrapper {
  }
  &__img {
    display: block;
    width: 100%;
  }
}
// ----- WANT -----
// ----- FOOTER -----
.footer {
  background-color: $black;
  &__privacy {
    display: flex;
    gap: calc(30 / 16) + rem;
    flex: 1 0 0;
  }
  &__privacy-link {
    @include adaptive-value("font-size", 14, 12, 1);
    line-height: 1.3;
    color: $gray;
    position: relative;
    transition: color 0.8s;
    z-index: 101;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 0;
      left: 50%;
      bottom: -3px;
      transform: translateX(-50%);
      background-color: $gray;
      transition: width 0.8s, color 0.8s;
    }
  }
}
// ----- FOOTER -----
// ----- WAFES -----
button {
  overflow: hidden;
}
.wave {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  animation: wave 0.5s linear;
  pointer-events: none;
  position: absolute;
}

@keyframes wave {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
// ----- WAFES -----
// ----- SCROLLBAR -----
*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
  background: #fff; /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; /* цвет плашки */
  &:hover {
    background-color: #979797;
  }
  &:active {
    background-color: #666666;
  }
  border-radius: 20px;
  border: 1px solid #fff; /* padding вокруг плашки */
}
// ----- SCROLLBAR -----
@import "media";
